API_ID=33984428
API_HASH=9ed45ce2cfa2dcf20895d8949a56ecbb
BOT_TOKEN=
MONGO_DB_URI=mongodb+srv://knight4563:knight4563@cluster0.a5br0se.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOG_GROUP_ID=-1003468243393
OWNER_ID=7852340648
STRING_SESSIONS=
